body{
  background-color: #b1b2a9;
}



.hire{
  margin-top: 18vh;
  padding: 20px;
 
}

.container{
  background-color: #f2f2f2;
  width: 60%;
  height: 500px;
  margin-left: 20%;
  margin-bottom: 15%;
  text-align: center;
  
}

input[type=text],select{
  width: 80%;
  padding:15px;
  margin: 15px;
  display:inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password],select{
  width: 80%;
  padding:12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email],select{
  width: 80%;
  padding:12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



.btn{
  
  background-color: orangered;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: larger;
  font-family: sans-serif;
  width: 150px;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 43px;
}









.header{
  width: 100%;
  height: 15%;
  background-color: rgb(7, 2, 71);
  padding: 20px 20px;
  color: whitesmoke;
  
}

.ui-defined{
  color: greenyellow;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  height: 4px;
  text-wrap: wrap;
  
}

/* @media only screen and(max-width:530px) {
  .ui-defined{
    text-wrap: unsets;
    padding: 35px;
    
  }
} */


